---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": SITE.NAME,
  "url": SITE.URL,
  "sameAs": [
    "https://www.linkedin.com/in/ravindukd",
    "https://github.com/ravindukd",
    "https://twitter.com/ravindukd",
    "https://www.instagram.com/ravindukdp",
    "https://www.facebook.com/ravindukd",
  ],
  "jobTitle": "Full Stack Software Developer",
  "worksFor": {
    "@type": "Organization",
    "name": "Axoten Innovations (pvt) Ltd."
  },
  "alumniOf": "Uva Wellassa University",
  "description": description
};
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <meta name="description" content={description} />
    <meta name="keywords" content="Ravindu, ravi, Ravindu Kavishka, Kavishka, kavi, ravindukd, ravindukdp, rkd, Industrial Information Technology, Web Development, Mobile Development, Node.js, React.js, Flutter" />
    <meta name="author" content="Ravindu Kavishka" />
    <meta property="og:title" content={`${title} | ${SITE.NAME}`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE.URL} />
    <meta property="og:image" content={`https://avatars.githubusercontent.com/u/43919715?v=4`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title} | ${SITE.NAME}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`https://avatars.githubusercontent.com/u/43919715?v=4`} />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>